:root {
    --cor-clara: rgb(152, 176, 200);
    --cor-escura: rgb(24, 48, 72);
    --cor-muito-clara: rgb(204, 216, 228);
    --cor-muito-escura: rgb(12, 24, 36);
    --cor-pouco-clara: rgb(100, 136, 172);
    --cor-pouco-escura: rgb(36, 72, 108);
    --cor-principal: rgb(48, 96, 144);
    --altura-do-header: 48px;
    --familha-da-fonte: serif;
    --margem-grande: 8px 8px 8px 8px;
    --margem-pequena: 4px 4px 4px 4px;
    --padding-texto: 4px 8px 4px 8px;
    --tamanho-da-fonte: 16px;
}

a {
    color: white;
    cursor: pointer;
    font-family: var(--familha-da-fonte);
    font-size: var(--tamanho-da-fonte);
    margin: var(--margem-grande);
    padding: var(--padding-texto);
    text-decoration: none;
}

a:hover {
    background-color: var(--cor-escura);
}

a:active {
    background-color: var(--cor-pouco-escura);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}

button {
    background-color: var(--cor-muito-escura);
    color: white;
    cursor: pointer;
    font-family: var(--familha-da-fonte);
    font-size: var(--tamanho-da-fonte);
    margin: var(--margem-grande);
    padding: var(--padding-texto);
}

button:hover {
    background-color: var(--cor-escura);
}

button:hover {
    background-color: var(--cor-pouco-escura);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: var(--familha-da-fonte);
    font-size: calc(var(--tamanho-da-fonte)*2);
    margin: var(--margem-grande);
}

header {
    background-color: var(--cor-muito-escura);
    height: var(--altura-do-header);
}

input {
    font-family: var(--familha-da-fonte);
    font-size: var(--tamanho-da-fonte);
    margin: var(--margem-grande);
    padding: var(--padding-texto);
    width: 256px;
}

label {
    font-family: var(--familha-da-fonte);
    font-size: var(--tamanho-da-fonte);
    margin: var(--margem-grande);
    text-align: right;
    width: 192px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh-var(var(--altura-do-header)));
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

table {
    margin: var(--margem-grande);
}

tbody tr:hover {
    background-color: var(--cor-muito-clara);
}

td {
    font-family: var(--familha-da-fonte);
    font-size: var(--tamanho-da-fonte);
    padding: var(--padding-texto);
    text-align: center;
}

th {
    font-family: var(--familha-da-fonte);
    font-size: var(--tamanho-da-fonte);
    padding: var(--padding-texto);
    text-align: center;
    text-transform: uppercase;
}

thead {
    background-color: var(--cor-clara);
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}