{% extends "index.html" %}
{% block content %}
{% include "menu.html" %}
<main>
    <h1>Nomes</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th><th></th><th></th>
            </tr>
        </thead>
        <tbody>
            {% for nome in nomes %}
            <tr>
                <td>{{ nome.nome }}</td>
                <td>
                    <form action="#" method="get">
                        <button type="submit">Atualizar</button>
                    </form>
                </td>
                <td>
                    <form action="#" method="get">
                        <button type="submit">Excluir</button>
                    </form>
                </td>                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}